.dls-content > div[role='tabpanel'] {
  height: calc(100vh - 11.2rem);
}

.hide-entitlement:empty {
  display: none;
}

.collection-form .dls-modal-body {
  overflow-x: hidden;
}

.collection-memos,
.reporting-section {
  width: 40.8rem;
  position: relative;
  transition: all ease-in 0.4s;
}

.collection-memos {
  border-left: thin solid #e3e3e8;
}

.reporting-section {
  border-right: thin solid #e3e3e8;
}

.collapse-button {
  position: absolute;
  z-index: 2;
  top: 1.6rem;
  left: -2.6rem;
  padding: 0.8rem 0.4rem;
  border: thin solid #e3e3e8;
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  color: #8f8f8f;
  background-color: white;
}
.collapse-button:hover i {
  color: #1f84f4;
}

.collection-memos.collapsed {
  margin-right: -40.8rem;
}

.reporting-section.collapsed {
  margin-left: -40.8rem;
}

.reporting-section .collapse-button {
  border-radius: 0 0.4rem 0.4rem 0;
  left: unset;
  right: -2.2rem;
  top: 1.4rem;
  font-size: 1.2rem;
  padding: 0.7rem 0.4rem;
  border-color: #eeeef1;
  background-color: #eeeef1;
}

.dropdown-list-item--badge {
  margin-right: 28px;
}

.dropdown-list--badge span {
  max-width: 98px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
}

.dropdown-list--badge {
  height: 20px;
}

.dropdown-list--text {
  flex: auto;
  overflow: hidden;
  margin-right: 16px;
}

.dropdown-list--text p span:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collection-form-container-parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.collection-form-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: width 300ms;
  overflow: hidden;
  background-color: #ffffff;
  width: 40.8rem;
  overflow-y: auto;
}

.collection-form-container.zoom:not(.collapse) {
  z-index: 100;
  width: 64rem;
  transition: width 300ms;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(55, 58, 72, 0.2);
}

.group-button-footer {
  position: absolute;
  bottom: 0;
  padding: 1.6rem 2.4rem;
  width: 100%;
  border-top: thin solid #e3e3e8;
}

.custom-group-radio .custom-control.custom-radio {
  margin-top: 1.6rem;
  margin-right: 2.4rem;
  display: inline-block;
}

.custom-group-radio .custom-control.custom-radio:last-child {
  margin-right: 0;
}

.group-alert .group-alert-item {
  display: inline-block;
  margin-right: 0.8rem;
}

.group-alert .group-alert-item .alert {
  max-width: 38.4rem;
}

.group-alert .group-alert-item .text-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-review-adjustment .adjustment-content {
  width: 100%;
  flex: 1;
  height: 663px;
}

.modal-review-adjustment .adjustment-memos {
  height: 663px;
}

.modal-review-adjustment .adjustment-memos .loading {
  height: 100%;
}

.timer-working {
  border: thin solid;
  border-radius: 1.6rem;
  width: 11rem;
  height: 3.4rem;
}

.file-icon {
  display: inline-block;
  width: 2rem;
  max-width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  background-color: transparent;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.vertical-tab.scrolled-nav .tab-left {
  background: var(--light-l16);
  width: 23.2rem;
  height: 100%;
  transition: width 0.5s ease;
}

.vertical-tab.scrolled-nav .tab-content > .active {
  overflow: hidden;
}

.vertical-tab .tab-left.is-collapsed {
  width: 0;
}

.vertical-tab .tab-left.is-collapsing .nav-item a {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.dls-floating-dropdown-button {
  transition: all 0.5s;
}

.dls-floating-dropdown-button.active,
.dls-floating-dropdown-button:focus {
  background-color: #fff;
  border: 1px solid #1f84f4;
  outline: 1px solid #1f84f4;
}

.dls-floating-dropdown-button.active .dls-dropdown-list.dls-focused,
.dls-floating-dropdown-button:focus .dls-dropdown-list.dls-focused {
  border: none;
  box-shadow: none;
}

.infobar-container.collapsed + .dls-floating-dropdown-button {
  right: 7.2rem;
  transition: all 0.5s;
}

.infobar-container.collapsed .overlap-next-action,
.infobar-container .inforbar-content-pinned .overlap-next-action {
  margin-bottom: 6.4rem;
}

.user-selection {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5.4rem;
}

.user-selection .item {
  width: 63rem;
  height: 7.6rem;
  border: thin var(--light-l12) solid;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 500;
  background-color: #fff;
}

.user-selection .item .role {
  width: 15rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.user-selection .item .org {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  flex-grow: 1;
}

.h-landing-page {
  height: calc(100vh - 6.8rem);
}

.config-setting {
  border-top: thin solid var(--light-l12);
}

.config-setting .has-footer-button {
  height: calc(100% - 69px);
}

.config-setting .group-button-footer {
  bottom: -6.8rem;
}

.custom-editor .dls-text-editor .dls-text-editor-hole {
  width: 49rem;
}

.custom-editor .dls-text-editor .dls-text-editor-hole .ProseMirror {
  height: calc(100vh - 340px);
  min-height: 50rem;
}

.custom-editor .editor-example {
  width: 39.2rem;
  border: thin dashed var(--light-l12);
  border-radius: 0.8rem;
  padding: 1.6rem;
  margin-top: 3.4rem;
  margin-left: 2.4rem;
}

.custom-editor-payment {
  width: 55.6rem;
  max-width: 55.6rem;
}

.custom-editor-payment .dls-text-editor .dls-text-editor-hole .ProseMirror {
  height: 18rem;
}

/* editor readOnly properties */
.dls-text-editor-tools-container[aria-readonly='true'] {
  opacity: 50%;
  pointer-events: none;
  user-select: none;
}

.dls-text-editor .dls-text-editor-hole .ProseMirror ol,
.dls-text-editor .dls-text-editor-hole .ProseMirror ul {
  padding-left: 3.1rem;
}

.dls-text-editor .dls-text-editor-hole .ProseMirror ol li p,
.dls-text-editor .dls-text-editor-hole .ProseMirror ul li p {
  margin-left: 0.3rem;
}

.dls-text-editor .dls-text-editor-hole .ProseMirror ul li::marker {
  content: none;
}

.dls-text-editor .dls-text-editor-hole .ProseMirror ul li:before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border: thin solid var(--grey-d20);
  border-radius: 50%;
  background-color: var(--grey-d20);
  position: absolute;
  top: 0.6rem;
  left: -1.5rem;
}

.dls-text-editor .dls-text-editor-hole .ProseMirror ul ul li:before,
.dls-text-editor .dls-text-editor-hole .ProseMirror ol ul li:before {
  background-color: var(--white);
}

.dls-text-editor .dls-text-editor-hole .ProseMirror p {
  margin-bottom: 0.4rem;
}

.dls-text-editor .dls-text-editor-hole .ProseMirror[contenteditable='false'] {
  background-color: #eeeef1;
}

.dash-board {
  background-color: var(--light-l20);
  padding: 2.4rem;
  border-top: thin solid var(--light-l12);
}

.dash-board .db-work-statistics {
  width: 45rem;
}

.card.card-dashboard {
  padding: 2.4rem;
  border-radius: 0.8rem;
}

.card-dashboard .w-fixed-left {
  width: 17.6rem;
  padding-right: 2.4rem;
  margin-right: 2.4rem;
  border-right: thin solid var(--light-l12);
}

.call-result-info {
  height: calc(100vh - 70rem);
}

.arrow-red {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right: 0;
  border-left: 12px solid#fa766c;
}

.max-width-552 {
  max-width: 552px;
}

.filter-button {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #f72d1d;
  border-radius: 100%;
  top: 1px;
  right: 2px;
}

/* if readonly dropdown has only 1 dropdown option, hide arrow icon */
.readonly-no-arrow i.icon-chevron-down {
  display: none !important;
}

.w-65px {
  width: 65px;
}

.w-227px {
  width: 227px;
}

.mta {
  margin-top: auto;
}

.entitlement-settings-header {
  height: 28px;
}
.tree-view-entitlements {
  height: 440px;
}

.dls-popup.popup-header {
  z-index: 3000;
}

.count-down {
  display: flex;
  justify-content: center;
}

.count-down .count-down-box {
  display: flex;
  flex-direction: column;
}

.count-down .count-down-box .count-down-time {
  position: relative;
  height: 60px;
  width: 56px;
  border: thin solid #e3e3e8;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(55, 58, 72, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  margin-left: 8px;
  margin-right: 8px;
}

.count-down .count-down-box .count-down-time:after {
  position: absolute;
  content: ':';
  top: 7px;
  right: -12px;
}

.count-down .count-down-box:last-child .count-down-time:after {
  content: none;
}

.count-down .count-down-box .count-down-title {
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5;
  font-weight: 500;
  color: #666;
  margin-top: 8px;
  text-transform: uppercase;
}

.navigation-hamburger .nav-item {
  margin-top: 2.4rem;
}

.navigation-hamburger .link-header {
  margin-top: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

.h-180px {
  height: 18rem;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.bubble.bb-sz-sm span {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.dls-modal-root .dls-modal-dialog.modal-hamburger .dls-modal-header {
  justify-content: space-between;
}

.navigation-hamburger {
  border-top: thin solid #e3e3e8;
  margin-top: 2.4rem;
}

.modal-open .dls-popover-container {
  z-index: 200;
}

.modal-open .dls-modal-root + .dls-popover-container {
  z-index: 300;
}

.bubble + .bubble-name {
  margin-left: 8px;
}

.bubble + .bubble-name:empty {
  margin-left: 0;
}

.ds-attr-search-field .field-detail .combobox-control .dls-combobox input {
  padding-top: 0px;
  padding-left: 4px;
  margin-top: -1px;
  visibility: visible;
  opacity: 1;
}

.loading {
  z-index: 1;
}
.dls-text-editor-hole .dls-popper-trigger {
  opacity: 0;
}

.dls-text-editor-tools-container .dls-dropdown-list.size-small {
  height: 30px;
}

.white-space-pre-line {
  white-space: pre-line;
}

.dls-placeholder {
  color: var(--grey-l32);
}

.dls-text-left {
  text-align: left;
}

.dls-text-center {
  text-align: center;
}

.dls-text-right {
  text-align: right;
}

.dls-indent-1 {
  margin-left: 40px;
}

.dls-indent-2 {
  margin-left: 80px;
}

.dls-indent-3 {
  margin-left: 120px;
}

.dls-text-editor-mention-node {
  display: inline-block;

  height: 20px;

  line-height: 16px;

  background-color: #e1effe;

  padding: 2px 8px;

  color: #333333;

  font-size: 12px;

  border-radius: 4px;
}

.bubble.bb-sz-sm {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
}

.bubble.bb-sz-sm span {
  font-size: 0.8rem;
}

:focus-visible {
  outline: none;
}

.block-no-data {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@media (max-width: 1023px) {
  .row.mt-md-n56 {
    margin-top: -5.6rem;
  }
}

@media (min-width: 768px) {
  .memos-extend .col-extend-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .memos-extend .col-extend-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .modal-md-hidden {
    display: none;
  }

  .w-md-0 {
    display: none;
  }

  .border-md-top {
    border-top: thin solid #e3e3e8;
  }

  .border-md-none {
    border: none;
  }
}

@media (max-width: 768px) {
  .memos-extend .custom-cccs {
    width: 100%;
    display: block !important;
  }
  .memos-extend .custom-group-radio .custom-control.custom-radio {
    display: block;
  }
  .tree-view-entitlements {
    height: calc(100vh - 434px);
  }

  .custom-editor .editor-example,
  .custom-editor .dls-text-editor .dls-text-editor-hole,
  .custom-editor-payment {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .memos-extend .custom-cccs {
    width: 100%;
    display: block !important;
  }
  .memos-extend .col-extend-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .memos-extend .col-extend-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .memos-extend .extend-d-lg-none {
    display: none;
  }
  .modal-lg-hidden {
    display: none;
  }

  .w-md-0 {
    display: block;
  }

  .w-lg-0 {
    display: none;
  }

  .border-lg-right {
    border-right: thin solid #e3e3e8;
  }

  .border-lg-none {
    border: none;
  }
}

@media (min-width: 1280px) {
  .memos-extend .custom-cccs {
    display: flex !important;
  }
  .memos-extend .col-extend-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .memos-extend .col-extend-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .memos-extend .col-extend-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .memos-extend .col-extend-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    display: block !important;
  }

  .dash-board-content {
    max-width: 123.2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .border-xl-right {
    border-right: thin solid #e3e3e8;
  }

  .border-xl-none {
    border: none;
  }

  .reporting-section .collapse-button {
    display: none;
  }
}

@media (min-width: 1688px) {
  .memos-extend .col-extend-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .memos-extend .extend-d-xxl-none {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .infobar-nav-item:hover {
    background: transparent;
    color: #fff;
  }
  .infobar-nav-item.active {
    background: #fff;
  }
  .infobar-nav-item.active:hover {
    background: #fff;
    color: #ff6600;
  }

  .memos-extend .dls-text-search {
    width: 100%;
  }

  .modal-review-adjustment .adjustment-content,
  .modal-review-adjustment .adjustment-memos {
    height: calc(100vh - 129px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .vertical-tab .tab-left.is-collapsed + .tab-content .call-address {
    display: flex;
  }

  .vertical-tab .tab-left.is-collapsed + .tab-content .call-phone {
    margin-top: 0 !important;
    margin-left: 2.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .dash-board .db-work-statistics {
    width: 100%;
    margin-top: 2.4rem;
  }

  .user-selection {
    max-width: 59.4rem;
  }

  .custom-editor .editor-example {
    margin: 0 0 1.6rem 0;
  }
}
